<!DOCTYPE html>

{% load static %}

<html class="no-js" lang="zxx">
    <head>
		
		{% for setting in settings %}
			
        <!-- Meta tag -->
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="{{ setting.description }}">
		<meta name='copyright' content='codeglim'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">	
		
		<!-- Title Tag -->
        <title>{{setting.title}}</title>
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="{{setting.icon.url}}">	

		{% endfor %}
		<!-- Jquery Ajax -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		
        <!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet"> 
		
		<!-- Animate CSS -->
        <link rel="stylesheet" href="static/css/animate.min.css">
		
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
		
		<!-- Fancy Box CSS -->
        <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
		
		<!-- Slick Nav CSS -->
        <link rel="stylesheet" href="static/css/slicknav.min.css">
		
		<!-- Animate Text -->
        <link rel="stylesheet" href="static/css/animate-text.css">
		
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="static/css/owl.theme.default.css">
        <link rel="stylesheet" href="static/css/owl.carousel.min.css">
		
		<!-- Bootstrap Css -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
		
		<!-- Sufia StyleShet -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/reset.css">	
        <link rel="stylesheet" href="static/css/responsive.css">	
		
		<!-- Maheraj Template Color -->
		<link rel="stylesheet" href="static/css/color/color1.css">

		
    </head>
    <body>
	
		<!-- Preloader -->
		<!-- <div class="loader">
			<div class="loader-inner">
				<div class="k-line k-line11-1"></div>
				<div class="k-line k-line11-2"></div>
				<div class="k-line k-line11-3"></div>
				<div class="k-line k-line11-4"></div>
				<div class="k-line k-line11-5"></div>
			</div>
		</div> -->
		<!-- End Preloader -->
		
		<!-- Start Header -->
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-sm-12 col-xs-12">
						<!-- Logo -->
						<div class="logo">
							<a href="" title="Software Developer">A I Somon</a>
						</div>
						<!--/ End Logo -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-md-10 col-sm-12 col-xs-12">
						<div class="nav-area">
							<!-- Main Menu -->
							<nav class="mainmenu">
								<div class="collapse navbar-collapse">
									<ul class="nav navbar-nav menu">
										<li class="active"><a href="#personal-area"><i class="fa fa-home"></i>Homepage</a></li>
										<li><a href="#welcome"><i class="fa fa-star"></i>About Me</a></li>		
										<li><a href="#my-service"><i class="fa fa-rocket"></i>My Area</a></li>
										<li><a href="#portfolio"><i class="fa fa-briefcase"></i>Portfolio</a></li>
										<li><a href="#my-timeline"><i class="fa fa-history"></i>Timeline</a></li>
										<li><a href="#contact"><i class="fa fa-address-book"></i>Contact</a></li>		
									</ul>
									<ul class="social-icon">
										<li><a href="#header"><i class="fa fa-plus"></i></a></li>
									</ul>
									<ul class="social">
										<li><a href="https://www.facebook.com/azharul.sumon96/" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://twitter.com/sumon_gsc14/" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="https://www.linkedin.com/in/md-azharul-islam-somon/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="https://github.com/sumonmediu/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</nav>
							<!--/ End Main Menu -->
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--/ End Header -->
			
		<!-- Start Personal Area -->
		<section id="personal-area">
			<div class="personal-main">
				<div class="personal-single">
					<div class="container">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<!-- Personal Text -->
								<div class="personal-text">
									<div class="my-info">
										<h1>I am Azharul Islam Somon</h1>
										<h2 class="cd-headline clip is-full-width">
										   A Proffesional
										   <span class="cd-words-wrapper">
											   <b class="is-visible">Python / Django Developer</b>
											   <b>Android Mobile App Developer</b>
											</span>
										</h2>
										<div class="button">
											<a href="#contact" class="btn primary shine"><i class="fa fa-rocket"></i>Contact Me</a>
											<a href="#portfolio" class="btn shine"><i class="fa fa-briefcase"></i>My Project</a>
										</div>
									</div>
								</div>
								<!--/ End Personal Text -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Personal Area -->
		
		<!-- Start About Me -->
		<section id="about-me" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12 fix">
						<!-- About Tab -->
						<div class="tabs-main">
							<!-- Tab Menu -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><span class="tooltips">About Me</span><a href="#welcome" role="tab" data-toggle="tab"><i class="fa fa-user"></i></a></li>
								<li role="presentation"><span class="tooltips">My Skill</span><a href="#skill" role="tab"  data-toggle="tab"><i class="fa fa-rocket"></i></a></li>
							</ul>
							<!--/ End Tab Menu -->
							<div class="tab-content">
								<!-- Single Tab -->
								<div role="tabpanel" class="tab-pane fade in active" id="welcome">
									<div class="about-text">
										<h2 class="tab-title">About Me</h2>
										<div class="row">
											
											{% for setting in settings %}
												
											<div class="col-md-4 col-sm-4 col-xs-12">
												<!-- About Image -->
												<div class="single-image">
													<img src="{{ setting.backround_image.url }}" alt="">
												</div>
											</div>
											<!-- End About Image -->
											<div class="col-md-8 col-sm-12 col-xs-12">
												<div class="content">
													<p>{{setting.aboutus}}</p>
												</div>
												<div class="social">
													<ul>
														<li><a href="{{setting.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
														<li><a href="{{setting.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
														<li><a href="{{setting.instagram}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
														<li><a href="{{setting.github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
													</ul>
												</div>
											</div>
												
											{% endfor %}
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Single Tab -->
								<div role="tabpanel" class="tab-pane fade" id="skill">
									<h2 class="tab-title">My Skill</h2>
									<div class="row">				
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>Python </h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span>80%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>Django</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;"><span>78%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>javascript</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span>50%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>Bootstrap</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span>75%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>Java</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span>75%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>HTML5/CSS3</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span>85%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>MySql / SqLite</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span>87%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>Android App Development</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100" style="width: 79%;"><span>79%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>

										<div class="col-md-6 col-sm-6 col-xs-12">
											<!-- Single Skill -->
											<div class="single-skill">
												<div class="skill-info">
													<h4>PostgresSQL</h4>
												</div>
												<div class="progress">
												  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span>80%</span></div>
												</div>
											</div>
											<!--/ End Single Skill -->
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
							</div>
						</div>
						<!--/ End About Tab -->
					</div>
				</div>
			</div>
		</section>		
		<!--/ End About Me -->	
		
		<!-- Start Service -->
		<section id="my-service" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1><span>My</span> Area<i class="fa fa-rocket"></i></h1>
							<p>Trying to be better everyday...<p>
						</div>
					</div>
				</div>
				<div class="row">
					
					{% for m in myArea %}
						
					<div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
						<!-- Single Service -->
						<div class="single-service ">
							<i class="{{m.fa_fa_awsome_icon}}"></i>
							<h2>{{m.title}}</h2>
							<img src="{{ m.area_image.url }}" alt="Web design" srcset="">
							<!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some</p> -->
						</div>
						<!-- End Single Service -->
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!--/ End Service -->
		
		<!-- Start portfolio -->
		<section id="portfolio" class="section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1><span>My</span> Portfolio<i class="fa fa-briefcase"></i></h1>
						</div>
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<!-- portfolio Nav -->
						<div class="portfolio-nav">
							<ul>
								<li class="active" data-filter="*"><span>{{data|length}}</span><i class="fa fa-tasks"></i>All Works</li>
								<li data-filter=".development"><span>{{total_development|length}}</span><i class="fa fa-desktop"></i>Web App Development</li>
								<li data-filter=".design"><span>{{total_design|length}}</span><i class="fa fa-paint-brush"></i>Web Design</li>
								<li data-filter=".mobile"><span>{{total_mobile|length}}</span><i class="fa fa-mobile"></i>Mobile App Development</li>
							</ul>
						</div>
						<!--/ End portfolio Nav -->
					</div>
				</div>
						
				<div class="portfolio-inner">
					<div class="row stylex ">	
						<div class="isotop-active">
							<!-- Single portfolio -->
							{% for d in data %}
							<div class="mix {{d.project_type}} col-md-3 col-sm-6 col-xs-12 col-fix ">
								<div class="portfolio-single ">
									<div class="portfolio-head">
										<img src="{{ d.project_image.url}}" alt=""/>
									</div>
									<div class="portfolio-hover">
										<h4><a href="{{d.project_link}}" target="_blank"><span>{{d.project_name}}</span></a></h4>
										<p>{{d.project_description}} </p>
										<div class="button">
											<a data-fancybox="gallery" href="{{ d.project_image.url}}"><i class="fa fa-search"></i></a>
											<a href="{{d.project_link}} " class="primary" target="_blank"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
							<!--/ End portfolio -->					
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Button -->
					<div class="button">
						<a href="#" class="btn disabled" >More Portfolio<i class="fa fa-angle-double-right"></i></a>
					</div>
					<!-- End Button -->
				</div>
			</div>
		</section>
		<!--/ End portfolio -->
		
		<!-- Start Count Down 
		<section id="countdown" class="section" data-stellar-background-ratio="0.3">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
						 #Single Count 
						<div class="single-count">
							<i class="fa fa-tasks"></i>
							<h2><span class="count">50</span>K</h2>
							<p>Projects Finished</p>
						</div>
						# End Single Count
					</div>
				</div>
			</div>
		</section>
		# End Count Down -->
		<!-- Start Count Down -->
		<section id="countdown" class="section" data-stellar-background-ratio="0.3">
			<div class="container">
				
			</div>
		</section>
		<!-- End Count Down -->

		<!-- Start Timeline-->
		<section id="my-timeline" class="section clearfix">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1><span>Education & </span>Work<i class="fa fa-history"></i></h1>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="timeline">
							<div class="timeline-inner">
								
								<!-- Single Timeline -->
								<div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
									<div class="single-timeline">
										<div class="single-content">
											<div class="date">
												<p>August<span>, 2020 </span></p>
											</div>
											<h2>CERTIFICATION</h2>
											<p>1. <a target="_blank" href="https://lnkd.in/gTtTY_g">Building Web Applications in Django </a> <span>, <strong> Coursera.org</strong></span> </p>
											<p>2. <a target="_blank" href=" https://lnkd.in/gKbkh2x">Web Application Technologies and Django</a><span>, <strong> Coursera.org</strong></span> </p>
										</div>
									</div>
								<div class="single-main wow fadeInLeft" data-wow-delay="0.4s">
									<div class="single-timeline">
										<div class="single-content">
											<div class="date">
												<p>2016<span> - 2020 </span></p>
											</div>
											<h2>Al-Madinah International University, Malaysia</h2>
											<p>Bachelor of <strong>Computer Science.</strong> </p>
											<p>CGPA 3.81 out of 4.00</p>
										</div>
									</div>
								</div>
								<!--/ End Single Timeline -->
								<!-- Single Timeline -->
									<div class="single-main wow fadeInRight" data-wow-delay="0.5s">
										<div class="single-timeline">
											<div class="single-content">
												<div class="date">
													<p>Sep<span> 19</span>- Jan<span> 20</span></p>
												</div>
												<h2> Software Developer</h2>
												<p><strong>TFP Solutions Berhad, Malaysia</strong></p>
												<br>
												<p>Designing the friendly UI for <a href="https://play.google.com/store/apps/details?id=com.tfpbhd.onesolution&showAllReviews=true"> <strong>Smart Hr & Payroll
													system mobile app.</strong></a>
													Continuously research, evaluate and implement new
													mobile technologies and features.
													Develop SDK for product integration on Android
													application.<p>
											</div>
										</div>
									</div>
								<!--/ End Single Timeline -->
								<!-- Single Timeline -->
									<div class="single-main wow fadeInLeft" data-wow-delay="0.6s">
										<div class="single-timeline">
											<div class="single-content">
												<div class="date">
													<p>2012<span> - 2014</span></p>
												</div>
												<h2>Govt. Science College, Dhaka</h2>
												<p>Major in <strong>Science.</strong> </p>
												<p>GPA 5.00 out of 5.00</p>
											</div>
										</div>
									</div>
								<!--/ End Single Timeline -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Timeline -->
		
		<!-- Start Call To Action -->
		<section id="call-action" class="section wow fadeInUp">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="call-action-main">
							<h2>I'm available now !</h2>
							<p>Searching for a desirable opportunity with which I will have the scopein utilizing my skills and potentiality to do something innovative forthe benefit of mankind and the society as well and from which I will beable to enhance my knowledge and efficiency. </p>
							<div class="button">
								<a href="https://drive.google.com/uc?id=1TdG5b4ux9ZI8mjUl1sOaPevMkPQ1pqmH&export=download" download="Azharul_Islam_Somon" class="btn">
									<i class="fa fa-file"></i>Download CV</a>	  
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call To Action -->
		
		<!-- Start Contact -->
		<section id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1><span>Contact</span> Me<i class="fa fa-star"></i></h1>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Contact google -->
					<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
						<div class="contact">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.086077019725!2d90.35381201481654!3d23.81553798455731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c121e29c6b8f%3A0x47929942efce4659!2sRupnagar%20Rd%20%26%20Rd%20No.%2019%2C%20Dhaka%201216!5e0!3m2!1sen!2sbd!4v1608030624723!5m2!1sen!2sbd" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
						</div>
					</div>
					<!--/ End Contact Address -->

					<!-- Contact Form -->
					<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.8s">
						<form id="message_submit" class="form" method="post" action="">
							{% csrf_token %}

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="name" id="name" placeholder="Full Name" required="required">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="email" name="email" id="email" placeholder="Your Email" required="required">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="message" id="message" rows="6" placeholder="Type Your Message Here" ></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group button">	
										<button type="submit" id="btn_submit_permision" class="button primary"><i class="fa fa-send"></i>Submit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!--/ End Contact Form -->
				</div>
			</div>
		</section>
		<!--/ End Contact -->
		
		<!-- Start Clients -->
		<div id="clients" class="section" data-stellar-background-ratio="0.3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						
					</div>
				</div>
			</div>
		</div>
		<!--/ End Clients -->
	
		<!-- Start Footer -->
		<footer id="footer">
			<!-- Arrow -->
			<div class="arrow">
				<a href="#personal-area" class="btn"><i class="fa fa-angle-up"></i></a>
			</div>
			<!--/ End Arrow -->
			<div class="container">
				
				{% for setting in settings %}
					
				<div class="row">
					<div class="col-md-4">
						<!-- Single Address -->
						<div class="footer-address">
							<i class="fa fa-phone"></i> 
							<div class="title">
								<h4>My Phone</h4>
								<p>{{ setting.phone}}<br></p>
							</div>
						</div>
						<!--/ End footer Address -->
					  </div>
					  <div class="col-md-4">
						<div class="footer-address">
							<i class="fa fa-envelope"></i> 
							<div class="title">
								<h4>Email Address</h4>
								<p>{{setting.email}}</p>
							</div>
						</div>
					  </div>
					  <div class="col-md-4">
						<div class="footer-address">
							<i class="fa fa-map-marker"></i> 
							<div class="title">
								<h4>Address</h4>
								<p>{{ setting.address }}</p>
							</div>
						</div>
					  </div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<!-- Copyright -->
						<div class="copyright">
							<p>&copy; Copyright 2020 A I Somon. Design & Development By <a href="http://aisomon.pythonanywhere.com/"  target="_blank">A I Somon</a></p>
						</div>
						<!--/ End Copyright -->
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<!-- Social -->
						<ul class="social">
							<li><a href="{{setting.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="{{setting.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="{{setting.instagram}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="{{setting.github}}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
						</ul>
						<!--/ End Social -->
					</div>
				</div>
				{% endfor %}
			</div>
		</footer>
		<!--/ End Footer -->

		
		<!-- Sending message using Ajax -->

		<script>
			$(document).ready(function(){
				$("#message_submit").submit(function(e){
					e.preventDefault(); // default action is off by this line
					var fullName = $("#name").val()
					var email = $("#email").val()
					var message = $("#message").val()
					var csrftoken = $("[name=csrfmiddlewaretoken]").val();
		
					our_data_json = {
						"fullName":fullName,
						"email":email,
						"message":message,
					}
					$.ajax({
						type:"POST",
						url:"{% url 'index' %}",
						headers:{
							"X-CSRFToken":csrftoken
						},
						data:our_data_json,
						dataType:"json",
						success:function(data){
							if (data.msg === "Success"){
								alert("Form is submitted!")
							}
							$('#name').val(''); // remove the value from the input
							$('#email').val('');
							$('#message').val('');
							console.log(data); // log the returned json to the console
							console.log("success"); // another sanity check
						}
					});
		
		
				});
			});
		
		</script>

		
		<!-- Jquery -->
		<script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
		
		<!-- Modernizr JS -->
		<script type="text/javascript" src="{% static 'js/modernizr.min.js'%}"></script>
			
		<!-- WOW JS -->
		<script type="text/javascript" src="{% static 'js/wow.min.js'%}"></script>
		
		<!-- Fancybox js -->
		<script type="text/javascript" src="{% static 'js/jquery.fancybox.min.js'%}"></script>
		
		<!-- Animate Text JS -->
		<script type="text/javascript" src="{% static 'js/animate-text.js'%}"></script>
		
		<!-- Mobile Menu JS -->
    	<script type="text/javascript" src="{% static 'js/jquery.slicknav.min.js'%}"></script>
		
		<!-- Jquery Parallax -->
    	<script type="text/javascript" src="{% static 'js/jquery.stellar.min.js'%}"></script>
		
		<!-- Jquery Easing -->
    	<script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
		
		<!-- One Page Nav JS -->
    	<script type="text/javascript" src="{% static 'js/jquery.nav.js'%}"></script>
		
		<!-- Slider Carousel JS -->
		<script type="text/javascript" src="{% static 'js/owl.carousel.min.js'%}"></script>

		<!-- Youtube Player JS -->
		<script type="text/javascript" src="{% static 'js/ytplayer.min.js'%}"></script>

		<!-- Particle JS -->
		<script type="text/javascript" src="{% static 'js/particles.min.js'%}"></script>
		
		<!-- Counter JS -->
		<script type="text/javascript" src="{% static 'js/waypoints.min.js'%}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.counterup.min.js'%}"></script>
		
		<!-- Mixitup JS -->
		<script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js'%}"></script>
		
		<!-- Bootstrap JS -->
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
		
		<!-- Main JS -->
		<script type="text/javascript" src="{% static 'js/main.js'%}"></script>


    </body>
</html>